/* Cabeçalho */
.cabecalho__container {
    top: 0;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__pesquisar__item {
    display: none;
}

/* Seção Superior */
.superior__secao__container {
    gap: 1rem;
    display: flex;
    overflow: scroll;
    align-items: center;
    white-space: nowrap;
}

/* Menu Lateral */
.menu__container {
    bottom: 0%;
    width: 100%;
    height: 74px;
    position: fixed;
}

.menu__lista {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.menu__lista li {
    align-self: center;
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4) {
    display: none;
}

/* Rodapé */
.rodape__container {
    display: flex;
    flex-flow: column wrap;
}

@media screen and (min-width: 834px) {
    /* Cabeçalho */
    .cabecalho__pesquisar__item {
        display: block;
    }


    /* Rodapé */
    .rodape__container {
        justify-content: space-between;
    }
}