/* Cabeçalho */
.cabecalho__container {
    top: 0;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__pesquisar__item {
    display: none;
}

/* Seção Superior */
.superior__secao__container {
    gap: 15px;
    display: flex;
    overflow: scroll;
    align-items: center;
    white-space: nowrap;
}

/* Rodapé */
.rodape__container {
    display: flex;
    flex-flow: column wrap;
}

@media screen and (min-width: 834px) {
    /* Cabeçalho */
    .cabecalho__pesquisar__item {
        display: block;
    }


    /* Rodapé */
    .rodape__container {
        justify-content: space-between;
    }
}